.popup__container-text {
    margin: 0 auto;
    padding: 32px 36px 39px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

@media screen and (max-width: 580px) {
    .popup__container-text {
        font-size: 20px;
        line-height: 24px;
        padding: 40px 18px 29px;
    }
}