.openscreen {
    margin: 0 auto;
    max-width: 1280px;
    padding-top: 60px;
    padding-bottom: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}